{% extends 'base.html'%}

{% block content %}

<div class="container">
    <div class="row" style="background-color: grey; border-top-left-radius: 1cm; border-top-right-radius: 1cm; margin-top: 1%;">
        <div class="col" style="height: 4.25cm;">
            <img src="/app/static/mod4.jpg" alt=""
                style="height: 4.25cm;border-radius: 200px; display: block; margin: 0 0 -30px -10px;">
        </div>
        <div class="col" style="margin-left: -80%;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quia aperiam dolorem asperiores corporis, voluptas quod
                eveniet provident fuga deleniti minima labore, eum dolores
                nihil delectus praesentium quibusdam. Neque, fugit recusandae!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea,
                excepturi! Commodi et maxime, quos laborum consequatur dolores
                sequi nisi aperiam nobis veritatis, at fuga obcaecati alias facere
                odit impedit inventore.
            </p>
            <button style="border-radius: 3cm; height: 1cm; background-color: black; color: white; width: 4cm; margin-top: 2%; margin-left: 80%;">Read More</button>
        </div>
        
        
    </div>
    <div class="row" style="background-color: grey; border-top-left-radius: 1cm; border-top-right-radius: 1cm; margin-top: 1%;">
        <div class="col" style="height: 4.25cm;">
            <img src="/app/static/mod1.jpg" alt=""
                style="height: 4.25cm;border-radius: 200px; display: block; margin: 0 0 -30px -10px;">
        </div>
        <div class="col" style="margin-left: -80%;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quia aperiam dolorem asperiores corporis, voluptas quod
                eveniet provident fuga deleniti minima labore, eum dolores
                nihil delectus praesentium quibusdam. Neque, fugit recusandae!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea,
                excepturi! Commodi et maxime, quos laborum consequatur dolores
                sequi nisi aperiam nobis veritatis, at fuga obcaecati alias facere
                odit impedit inventore.
            </p>
            <button style="border-radius: 3cm; height: 1cm; background-color: black; color: white; width: 4cm; margin-top: 2%; margin-left: 80%;">Read More</button>
        </div>
        
    </div>
    <div class="row" style="background-color: grey; border-top-left-radius: 1cm; border-top-right-radius: 1cm; margin-top: 1%;">
        <div class="col" style="height: 4.25cm;">
            <img src="/app/static/mod5.jpg" alt=""
                style="height: 4.25cm;border-radius: 200px; display: block; margin: 0 0 -30px -10px;">
        </div>
        <div class="col" style="margin-left: -80%;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quia aperiam dolorem asperiores corporis, voluptas quod
                eveniet provident fuga deleniti minima labore, eum dolores
                nihil delectus praesentium quibusdam. Neque, fugit recusandae!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea,
                excepturi! Commodi et maxime, quos laborum consequatur dolores
                sequi nisi aperiam nobis veritatis, at fuga obcaecati alias facere
                odit impedit inventore.
            </p>
            <button style="border-radius: 3cm; height: 1cm; background-color: black; color: white; width: 4cm; margin-top: 2%; margin-left: 80%;">Read More</button>
        </div>
        
    </div>
    <div class="row" style="background-color: grey; border-top-left-radius: 1cm; border-top-right-radius: 1cm; margin-top: 1%;">
        <div class="col" style="height: 4.25cm;">
            <img src="/app/static/mod6.jpg" alt=""
                style="height: 4.25cm;border-radius: 200px; display: block; margin: 0 0 -30px -10px;">
        </div>
        <div class="col" style="margin-left: -80%;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quia aperiam dolorem asperiores corporis, voluptas quod
                eveniet provident fuga deleniti minima labore, eum dolores
                nihil delectus praesentium quibusdam. Neque, fugit recusandae!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea,
                excepturi! Commodi et maxime, quos laborum consequatur dolores
                sequi nisi aperiam nobis veritatis, at fuga obcaecati alias facere
                odit impedit inventore.
            </p>
            <button style="border-radius: 3cm; height: 1cm; background-color: black; color: white; width: 4cm; margin-top: 2%; margin-left: 80%;">Read More</button>
        </div>
        
    </div>
</div>

{%endblock%}